.abortion-categories {
    display: inline-flex;
}

.sub-head {
    text-decoration: underline;
}

ul {
    list-style: none;
}
.issuesContainer > div {
    width: 23%;
    display: inline-block;
    vertical-align: top;
}