body {
    background-color: #EFE2BA;
    /* background-color: #FFE9CD; */
}

h1 {
    color: #4056A1;
    justify-content: center;
    align-items: center;
}

p {
    padding: 10px;
    font-size: 18px;
    margin-top: 50px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #CD0000;
}

.home-links {
    display: inline;
    display: flex;
    margin: -2em;
    justify-content: space-around;
}

.btn {
    background-color: #C5CBE3;
    border: solid #4056A1;
    width: 150px;
    height: 70px;
    margin-top: 120px;
    transition: 0.4s;
    opacity: 1;
    border-radius: 5px;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;    
}

.btn:hover,
.btn:focus,
.btn:active {
    opacity: 0.6;
    transform: scale(1.1);
}

footer {
    margin: 50px;
    justify-content: center;
    display: flex;
}

.Countdown {
    margin: 70px auto;
    padding-bottom: 20px;
}

.Countdown-col {
    display: inline-block;
}

.Countdown-col-element {
    display: inline-block;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.Countdown-col-elemtn strong {
    font-size: 50px;
}

.countdown-title {
    text-align: center;
    margin: 50px;
}