.topnav {
    background-color: #4056A1;
    overflow: hidden;
}

#nav-link {
    color: #C5CBE3;
    float: left;
    text-align: center;
    padding: 14px 16px;
}

#nav-link:hover {
    background-color: #C5CBE3;
    opacity: 0.6;
    color: #4056A1;
}
