a {
    text-decoration: none;
    color: #CD0000;
}

.learn-more-btn {
    font-size: 18px;
    font-weight: bold;
}

#show-btn {
    margin-top: 20px;
}

.show-image {
    width: 250px;
    height: 205px;
    /* border-radius: 50%; */
}
img.disabled {
    filter: grayscale(1) !important;
}