a {
    text-decoration: none;
    color: #CD0000;
}

.learn-more-btn {
    font-size: 18px;
    font-weight: bold;
}

#show-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.show-image {
    width: 250px;
    height: 205px;
}
img.disabled {
    filter: grayscale(1) !important;
}

.candidate-video {
    justify-content: center;
}

.social-media {
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0;
}

.fa {
	font-size: 4rem;
	color: #4056A1;
	margin: 1rem;
}

.fa:hover {
	opacity: 0.6;
}